* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

body {
    background: url(/imagens/5172661.jpg);
}

label {
    font-size: 19px;
}

h1 {
    margin: 10px 0 10px 0;
    border-bottom: 1px solid #22192C;
    font-size: 35px;
}

.caixa-login {
    width: 30%;
    height: 350px;
    background: #fff;
    border-radius: 15px;
    padding: 15px;
}

.display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.entrada {
    width: 90%;
    height: 30px;
    border-radius: 15px;
    padding: 5px;
    font-size: 20px;
    margin: 10px 0 10px 0;
    text-align: center;
}

.botoes {
    width: 100%;
    height: 35px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 550;
    margin: auto auto 5px auto;
}

.formulario-flex {    
    display: flex;
    justify-content: center;
}

.cor-login {
    background: #7FDB8E;
    border: 1px solid #000;
}

.cor-login:hover {
    background: #19DB4A;
    border: 1px solid #000;
}

.cor-cadastro {
    background: #DB5D58;
    border: 1px solid #000;
}

.cor-cadastro:hover {
    background: #DB322C;
    border: 1px solid #000;
}