* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;

}

.caixa {
    border: 1px solid #000;
    width: 400px;
    height: 250px;
    padding: 0 0 15px 15px;
    border-radius: 15px;
}

.display-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-flex form {
    margin: 0;
}

.alinha-centro {
    text-align: center;
}

.caixa1 {
    height: 50%;
}